<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sushant.nuykaloginapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.NoActionBar">

        <activity
            android:name=".views.splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".views.login.view.LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.otp.view.ConfirmOtpActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.dashboard.view.DashboardActivity"
            android:screenOrientation="portrait" />

        <receiver android:name=".receiver.SmsReceiver" android:exported="true"
            android:permission="com.google.android.gms.auth.api.phone.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>